<div class="container">

    <div class="row">
    
    <div class="col-md-6">
    
    <div class="card" style="width: 28rem;">
      <img class="card-img-top" src="../../assets/images/pqr.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">¿Peticiones Quejas o Reclamos?</h5>
        <p class="card-text">Dejanos tus datos y nosotros nos contactamos contigo</p>
      </div>
    
    </div>
    
    </div>
    <div class="col-md-6">
    <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su nombre ">
    </div>
    
    <div class="form-group">
        <label for="exampleInputEmail1">Ingrese cu correo </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
      <label for="comment">Ingrese su comentario:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
      <button type="submit" class="btn btn-primary btn-space"><i class="fa fa-paper-plane"></i>Enviar</button>
    
      <button type="submit" class="btn btn-primary btn-space" routerLink="/lugares"><i class="fa fa-close"></i>Cancelar</button>
    </div>
    
    </div>
    
     </div>